{% extends 'base.html' %}
{% block title %} Desarrolladora {% endblock title %}
{% block navbar %}
<a class="nav-link active" aria-current="page" href="/proyectos/add">Agregar Proyecto</a>
{% endblock navbar %}
{% block content %}
<div class="mt-3">
    <h3>Proyectos</h3>
    {% for project in list_projects %}
    <div class="card" style="width: 18rem;">
      <img src="/media/{{project.logo}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">{{project.description}}</p>
        <p class="card-text">{{project.colony_field}}</p>
        <p class="card-text">{{project.developer_field}}</p>
        <p class="card-text">{{project.initial_date}}</p>
        <p class="card-text">{{project.latitude}}</p>
        <p class="card-text">{{project.longitude}}</p>
        <p class="card-text">{{project.address}}</p>
        <p class="card-text">{{project.phone}}</p>
        <p class="card-text">{{project.brochure}}</p>
        <p class="card-text">{{project.social_networks}}</p>
        <a href="/prototipos/add/{{project.id}}" class="btn btn-primary">Agregar Prototipos</a>
        
      </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}