{% extends 'base.html' %}
{% block title %} Desarrolladora {% endblock title %}
{% block navbar %}
<a class="nav-link active" aria-current="page" href="/proyectos/add">Agregar Proyecto</a>
{% endblock navbar %}
{% block content %}
<div class="mt-3">
    <h3>Proyectos</h3>
    {% for project in list_projects %}
    <table>
      <thead>
      <tr>
        <th>Logo</th> <th>Nombre</th> <th>Descripción</th> <th>Colonia</th> <th>Desarrolladora</th> <th>Fecha Inicial</th> <th>Latitud</th> <th>Longitud</th> <th>Dirección</th> <th>Celular</th> <th>Brochure</th> <th>Redes Sociales</th> <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
        <td><img src="/media/{{project.logo}}" height="20rm"></td>
        <td>{{project.name}}</td>
        <td>{{project.description}}</td>
        <td>{{project.colony_field}}</td>
        <td>{{project.developer_field}}</td>
        <td>{{project.initial_date}}</td>
        <td>{{project.latitud}}</td>
        <td>{{project.longitude}}</td>
        <td>{{project.address}}</td>
        <td>{{project.phone}}</td>
        <td><a href="/media/{{project.brochure}}">{{project.name}} brochure</a></td>
        <td>{{project.social_networks}}</td>
        <td><a href="/prototipos/add/{{project.id}}" class="btn-primary" style="height: 30rm">CSV</a></td>
        <td><a href="/prototipos/update/{{project.id}}" class="btn-terciary" style="height: 30rm">Edit CSV</a></td>
      </tr>
      </tbody>
    </table>
    {% endfor %}
</div>
{% endblock content %}