@import url("./Black/stylesheet.css");
@import url("./BlackItalic/stylesheet.css");
@import url("./Bold/stylesheet.css");
@import url("./BoldItalic/stylesheet.css");
@import url("./ExtraBold/stylesheet.css");
@import url("./ExtraBoldItalic/stylesheet.css");
@import url("./ExtraLight/stylesheet.css");
@import url("./ExtraLightItalic/stylesheet.css");
@import url("./Italic/stylesheet.css");
@import url("./LightItalic/stylesheet.css");
@import url("./Medium/stylesheet.css");
@import url("./MediumItalic/stylesheet.css");
@import url("./Regular/stylesheet.css");
@import url("./SemiBold/stylesheet.css");
@import url("./SemiBoldItalic/stylesheet.css");
@import url("./Thin/stylesheet.css");
@import url("./ThinItalic/stylesheet.css");
