{% extends 'base.html' %}
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'css/pages/projects.css' %}" />
{% endblock css %}
{% block title %} Agregar Prototipos {% endblock title %}
{% block content %}
<div class="container-wide">
    <h3>Actualizar Prototipos</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="formFile" class="form-label">CSV</label>
            <input class="form-control" type="file" id="formFile" name="csv">
            <input type="text" id="project_field" name="project_field" hidden value="{{id}}">
          </div>
        <a href="/static/plantilla_prototipos2.csv" class="btn btn-primary" download="plantilla_prototipos2.csv">Descargar Plantilla CSV</a>
        <button type="submit" class="btn btn-secondary">Guardar CSV</button>
    </form>
</div>
{% endblock content %}