{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/pages/prototypes.css' %}" />
<link rel="shortcut icon" href="#">

{% endblock css %}

{% block content %}
{% include 'components/navbar.html' %}
<main>

{% include 'components/filters.html' %}

  <div class="container-wide">
    <h1 class="h2">
      Prototipos
    </h1>
    {% include 'components/prototypes-table.html' %}
  </div>
</main>
<div class="buttons">
  <button class="btn-terciary" >Subir CSV</button>
  <button class="btn-primary" >Actualizar CSV</button>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}
