@import url("../fonts/stylesheet.css");

:root {
  --color-primary: #3e8ddd;
  --color-secondary: #1D1F20;
  --color-tertiary: #A5DCE4;
  --color-accent: #787C82;
  --color-bg: #F3F3F3;
  --color-light: #FFFFFF;

  --rgb-primary: 62, 141, 221;
  --rgb-secondary: 29, 31, 32;
  --rgb-tertiary: 165, 220, 228;
  --rgb-accent: 120, 124, 130;
  --rgb-bg: 255, 255, 255;

  --family-body: 'Open Sans', sans-serif;
  --family-title: 'Montserrat', sans-serif;
  --family-icon: 'fontello';

  --size-h1: clamp(2.5rem, 7.5vmin, 4.5rem);
  --size-h2: clamp(2rem, 5.5vmin, 3rem);
  --size-h3: clamp(1.75rem, 3.5vmin, 2.5rem);
  --size-subtitle: clamp(1.5rem, 3.2vmin, 2rem);
  --size-body1: clamp(1.25rem, 3vmin, 1.5rem);
  --size-body2: clamp(1rem, 2.5vmin, 1.25rem);

  --border-small: 3px;
  --border-medium: 5px;
  --border-big: 10px;

  --timing-small: 0.3s;
  --timing-medium: 0.5s;
  --timing-big: 1s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: inherit;
  list-style: inherit;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-small);
  background-color: var(--color-primary);
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  color: var(--color-secondary);
  list-style: none;
  line-height: 1.4;
  font-size: var(--size-body1);
  font-family: var(--family-body);
  font-weight: normal;
  text-transform: none;
  text-decoration: none;

  background-color: var(--color-bg);
}


/* Containers */
.container-slim {
  width: 75%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.container-wide {
  width: 90%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
}

.screen-container {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 720px),
(orientation: portrait) {
  .container-slim,
  .container-wide {
    width: 90%;
    padding: 0 1.5rem;
  }
}


/* Text styles */
.h1 {
  font-size: var(--size-h1);
  font-family: var(--family-title);
  font-weight: bold;
  line-height: 1.3;
}

.h2 {
  font-size: var(--size-h2);
  font-family: var(--family-title);
  font-weight: bold;
  line-height: 1.3;
}

.h3 {
  font-size: var(--size-h3);
  font-family: var(--family-title);
  font-weight: bold;
  line-height: 1.4;
}

.subtitle {
  font-size: var(--size-subtitle);
  font-family: var(--family-body);
  font-weight: normal;
  line-height: 1.4;
}

.body1 {
  font-size: var(--size-body1);
  font-family: var(--family-body);
  font-weight: normal;
  line-height: 1.4;
}

.body2 {
  font-size: var(--size-body2);
  font-family: var(--family-body);
  font-weight: normal;
  line-height: 1.4;
}


/* Text colors */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.text-accent {
  color: var(--color-accent);
}

.text-bg {
  color: var(--color-bg);
}

/* Weights */
.weight-light {
  font-weight: light;
}

.weight-normal {
  font-weight: normal;
}

.weight-bold {
  font-weight: bold;
}

/* Buttons */
[class^="btn"] {
  border-radius: var(--radius-medium);
  line-height: 1;
  border: 2px solid transparent;
  font-size: var(--size-body1);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: color var(--timing-small) ease,
    background-color var(--timing-small) ease,
    border-color var(--timing-small) ease,
    transform var(--timing-small) ease;
}

[class^="btn"]:active {
  transform: scale(0.98);
}

.btn-primary {
  color: var(--color-bg);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  color: var(--color-primary);
  background-color: transparent;
}

.btn-secondary {
  color: var(--color-bg);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-secondary:hover {
  color: var(--color-secondary);
  background-color: transparent;
}

.btn-terciary {
  color: var(--color-bg);
  background-color: var(--color-accent);
  border-color: var(--color-bg);
}

.btn-terciary:hover {
  color: var(--color-secondary);
  background-color: transparent;
}

/* Text buttons */
.text-btn {
  position: relative;
}

.text-btn::after {
  content: "";
  background-color: currentColor;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width var(--timing-small) ease;
}

.text-btn:hover::after {
  width: 100%;
}

/* Form components */
.form-block {
  margin-bottom: 1.5rem;
}

.form-block.checkbox {
  position: relative;
}

.form-block.checkbox > div {
  visibility: hidden;
  position: absolute;
  background-color: var(--color-bg);
  color: var(--color-primary);
  padding: 0.75rem 0.25rem;
  border-radius: var(--border-small);
  border: var(--color-secondary) 1px solid;
  max-height: 15rem;
  overflow: auto;
  transform: translateY(-1.5rem);
  opacity: 0;
  z-index: 10;
  transition: transform var(--timing-medium) ease, opacity var(--timing-medium) ease;
}

.form-block.checkbox.active > div {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.form-block.checkbox div label {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  position: relative;
  padding: 0.5rem 0.25rem;
  cursor: pointer;
  transition: background-color var(--timing-small) ease;
  font-size: var(--size-body2);
}

.form-block.checkbox div label:hover {
  background-color: rgba(var(--rgb-accent), 0.2);
}

.form-block:not(.checkbox) label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  border: 2px solid var(--color-secondary);
  border-radius: var(--border-medium);
  padding: 0.5rem;
  transition: border-color var(--timing-small) ease;
}

.input.search {
  display: flex;
  align-items: center;
}
.input.search input {
  flex: 1;
  background-color: transparent;
}

.input:focus {
  border-color: var(--color-primary);
}

.filters-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  row-gap: 1.5rem;
  column-gap: 1rem;
}

.filters-row .form-block {
  margin: 0;
}

/* Inner Page components */
.inner-page {
  padding: 3.5rem 0 7.5rem;
}

.inner-page .h1 {
  margin-bottom: 4.5rem;
}

/* Navbar */
.navbar {
  position: fixed; 
  top: 0;
  left: -20rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  background-color: var(--color-primary);
  color: var(--color-bg);
  padding: 2.5rem 3.5rem 2rem 1.5rem;
  z-index: 999;
  transition: left var(--timing-medium) ease, box-shadow var(--timing-medium) ease;
}

.navbar:hover {
  left: 0;
  box-shadow: 6px 0px 15px 2px rgba(var(--rgb-secondary), 0.4);
}

.nav-logo {
  display: block;
  width: 25vmin;
  min-width: 12rem;
  max-width: 100%;
  margin-bottom: 3rem;
  padding: 0 1.5rem;
  cursor: pointer;
}

.nav-logo img {
  display: block;
  width: 100%;
}

.nav-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.nav-link {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-color var(--timing-medium) ease;
}

.nav-link:hover {
  background-color: rgba(var(--rgb-secondary), 0.2);
}

.nav-divider {
  width: 100%;
  height: 2px;
  background-color: var(--color-bg);
  margin-top: auto;
}

/* Footer */
.footer {
  padding: 1rem 0 2.5rem;
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.footer .container-wide {
  display: flex;
  justify-content: flex-end;
}

/* Table */

.table-container {
  width: 100%;
  overflow: auto;
  padding-bottom: 1.5rem;
}

.table-container::-webkit-scrollbar {
  height: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: var(--border-small);
  background-color: #787C82;
}

.table {
  text-align: left;
  border-spacing: 4px;
}

.table tbody tr {
  transition: opacity var(--timing-small) ease;
}

.table:hover tbody tr {
  opacity: 0.6;
}

.table tbody tr:hover {
  opacity: 1;
}

.table th {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.table th,
.table td {
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}

.table tr:nth-child(even) {
  background-color: rgba(var(--rgb-accent), 0.2);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: var(--color-primary);
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* card components */

.filters-row {
  justify-content: flex-end;
  margin-bottom: 3rem;
}

.filters-row .input.search {
  width: 50vmin;
  min-width: 18rem;
  max-width: 100%;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 2rem;
  row-gap: 2.5rem;
  flex-direction: row;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  max-width: 100%;
  border-radius: var(--border-medium);
  box-shadow: 3px 2px 10px rgba(var(--rgb-primary), 0.2);
  overflow: hidden;
  transition: box-shadow var(--timing-small) ease, transform var(--timing-small) ease;
  background-color: var(--color-light);
}

.card:hover {
  box-shadow: 3px 4px 10px rgba(var(--rgb-primary), 0.4);
  transform: translateY(-2px);
}

.card_img {
  display: block;
  width: 100%;
  height: 10rem;
  object-fit: cover;
  object-position: center;
}

.card_content {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card_content h3 {
  margin-bottom: 0.5rem;
}

.card_content p {
  margin-bottom: 1rem;
}

.card_content a {
  margin-top: auto;
  font-size: var(--size-body2);
}
