{% extends 'base.html' %}
{% block title %} Editar Prototipo {% endblock title %}
{% block content %}
<div class="mt-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="formFile" class="form-label">CSV</label>
            <input class="form-control" type="file" id="formFile" name="csv">
            <input type="text" id="project_field" name="project_field" hidden value="{{id}}">
          </div>
          <a href="/static/plantilla_prototipos.csv" class="btn btn-primary" download="plantilla_prototipos.csv">Descargar Plantilla CSV</a>
        <button type="submit" class="btn btn-success">Success</button>
    </form>
</div>
{% endblock content %}