{% extends 'innerPage.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock css %}

{% block title %} Proyectos {% endblock title %}

{% block content %}
<main class="inner-page">
  <div class="container-wide">
    <h1 class="h1">Proyectos</h1>
    <div class="filters-row">
      <form action="" method="get">
        <div class="input search icon-search">
          <input type="text" placeholder="Buscar proyecto">
        </div>
      </form>
    </div>
    
    <section class="project-prototypes">
      <div class="container-wide">
        {% include 'components/projects-table.html' %}
      </div>
    </section>

  </div>
</main>
{% endblock content %}