{% extends 'innerPage.html' %}
{% load static %}

{% block title %} Prototipos {% endblock title %}

{% block content %}
<main class="inner-page">
  <div class="container-wide">
    <h1 class="h1">Prototipos</h1>
    {% if prototypes_list %}
      {% include 'components/filters_new.html' %}
      {% if prototypes_list == 'null' %}
      {{"No se encontraron resultados"}}
      {% else %}
      {% include 'components/prototypes-table.html' %}
      {% endif %}

      <figure class="canvas-container">
        <canvas id="chart-canvas" aria-label="Gráfica de prototipos" role="img">
        <p>Tu buscador no tiene soporte para la gráfica</p>
        </canvas>
       </figure>
    
    <button id="chart-units" class="btn-primary" >Unidades Totales</button>
    <button id="chart-sales" class="btn-primary" >Unidades Vendidas</button>
    <button id="chart-stock" class="btn-primary" >Inventario</button>
    <button id="chart-price" class="btn-primary" >Precio</button>
    <button id="chart-surface" class="btn-primary" >Superficies</button>
    <button id="chart-pricem2" class="btn-primary" >Precios por m2</button>

    {% else %}
      <h3 class="h3">No existen prototipos en tu base de datos</h3>
    {% endif %}
  </div>
</main>
{% endblock content %}

{% block js %}

{% if prototypes_list %}
<script>
  const pricem2Chart = () =>  createChart({
    type: 'line',
    datasets: 
    [
      {
        label: 'Precios por m2',
        backgroundColor: cssVar('--color-primary'),
        borderColor:  cssVar('--color-primary'),
        borderWidth: 4,

        data: 
        [{% for prototype in prototypes_list %}
          {
            x: '{{ prototype.name }}',
            y: {{ prototype.price }},
          },
        {% endfor %}]
      },
      {
        label: 'Superficie de terreno en m2',
        backgroundColor: cssVar('--color-accent'),
        borderColor:  cssVar('--color-accent'),
        borderWidth: 4,
        data: 
        [{% for prototype in prototypes_list %}
          {
            x: '{{ prototype.name }}',
            y: parseFloat('{{ prototype.m2_terrain }}'.replace(',','.').replace(' ','')),
            r: 5,
          },
        {% endfor %}]
      }
    ]
  });

  const surfaceChart = () =>  createChart({
    type: 'line',
    datasets: 
    [
      {
        label: 'Superficie de terreno en m2',
        backgroundColor: cssVar('--color-primary'),
        borderColor:  cssVar('--color-primary'),
        borderWidth: 4,
        data: 
        [{% for prototype in prototypes_list %}
          {
            x: '{{ prototype.name }}',
            y: parseFloat('{{ prototype.m2_terrain }}'.replace(',','.').replace(' ','')),
            r: 5,
          },
        {% endfor %}]
      },
      {
        label: 'Superficie de construcción en m2',
        backgroundColor: cssVar('--color-accent'),
        borderColor:  cssVar('--color-accent'),
        borderWidth: 4,
        data: 
        [{% for prototype in prototypes_list %}
          {
            x: '{{ prototype.name }}',
            y: parseFloat('{{ prototype.m2_constructed }}'.replace(',','.').replace(' ','')),
            r: 5
          },
        {% endfor %}]
      }
    ]
  });


  const priceChart = () =>  createChart({
    type: 'bar',
    datasets: 
    [
      {
        label: 'Precios',
        backgroundColor: cssVar('--color-primary'),
        data: 
        [{% for prototype in prototypes_list %}
          {
            x: '{{ prototype.name }}',
            y: {{ prototype.price }},
          },
        {% endfor %}]
      }
    ]
  });

  const unitsChart = () =>  createChart({
    type: 'bar',
    datasets: 
    [
      {
        label: 'Unidades totales',
        backgroundColor: cssVar('--color-primary'),
        data: 
        [{% for prototype in prototypes_list %}
          {
            x: '{{ prototype.name }}',
            y: {{ prototype.total_units }},
          },
        {% endfor %}]
      }
    ]
  });

  const salesChart = () =>  createChart({
    type: 'bar',
    datasets: 
    [
      {
        label: 'Unidades vendidas',
        backgroundColor: cssVar('--color-primary'),
        data: 
        [{% for prototype in prototypes_list %}
          {
            x: '{{ prototype.name }}',
            y: {{ prototype.units_sold}},
          },
        {% endfor %}]
      }
    ]
  });

  const stockChart = () =>  createChart({
    type: 'bar',
    datasets: 
    [
      {
        label: 'Inventario',
        backgroundColor: cssVar('--color-primary'),
        data: 
        [{% for prototype in prototypes_list %}
          {
            x: '{{ prototype.name }}',
            y: {{ prototype.total_units }} - {{ prototype.units_sold}},
          },
        {% endfor %}]
      }
    ]
  });

  const setupChartButtons = () => {
    const unitsChartButton = document.querySelector('#chart-units');
    const salesChartButton = document.querySelector('#chart-sales');
    const stockChartButton = document.querySelector('#chart-stock');
    const priceChartButton = document.querySelector('#chart-price');
    const surfaceChartButton = document.querySelector('#chart-surface');
    const pricem2ChartButton = document.querySelector('#chart-pricem2');

    unitsChartButton.onclick = unitsChart;
    salesChartButton.onclick = salesChart;
    stockChartButton.onclick = stockChart;
    priceChartButton.onclick = priceChart;
    surfaceChartButton.onclick = surfaceChart;
    pricem2ChartButton.onclick = pricem2Chart;

  }

  window.addEventListener('DOMContentLoaded', setupChartButtons);
</script>
{% endif %}
{% endblock js %}