{% extends 'filters/base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filters</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <!-- <form >
    {% for developer in developers %}
      <li class="dropdown-item">

      <div class="form-check" method>
        <input class="form-check-input" type="checkbox" value="{{ developer.id }}" id="developer" name="developer">
        <label class="form-check-label" for="flexCheckDefault">
          {{ developer }}
          {{ developer.basemodel_ptr_id }}
        </label>
      </div>
      {% endfor %}

    <button type="submit" class="btn btn-primary">Buscar</button>
    </form>  -->

    <form method="get">
      {{ projects_filter.form }}
      <button class="btn btn-sm btn-danger" type="submit">Filter</button>
    </form>
    <hr />

    <div class="row">
      <ul>
        {% for project in projects_filter.qs %}
          <li>
            <span>Proyecto: {{ project.name }}</span>
            <span>Desarrolladora: {{ project.developer_field }}</span>
            <span>Fecha Inicial: {{ project.initial_date }}</span>
            <span>Latitud: {{ project.latitud }}</span>
            <span>Longitud: {{ project.longitude }}</span>
            <span>Niveles: {{ project.levels }}</span>
            
          </li>
          <hr />
        {% endfor %}
      </ul>
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- {% comment %} <select class="select" multiple>
        {% for developer in developers %}
        <option value="{{ developer.id }}">{{ developer }} {{ developer.basemodel_ptr_id }}</option>
        {% endfor %}
    </select>
    <label class="form-label select-label">Example label</label>
      
      
      {% comment %} <form>
        {{ form }}
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form> {% endcomment %} -->

</body>
</html>

{% endblock %}