main {
  padding: 3.5rem 0;
}

.h1 {
  margin-bottom: 1.5rem;
}

.prototypes-table-container {
  width: 100%;
  overflow: auto;
  padding-bottom: 1.5rem;
}

.prototypes-table-container::-webkit-scrollbar {
  height: 10px;
}

.prototypes-table-container::-webkit-scrollbar-thumb {
  border-radius: var(--border-small);
  background-color: #787C82;
}

.prototypes-table {
  text-align: left;
  border-spacing: 4px;
}

.prototypes-table tbody tr {
  transition: opacity var(--timing-small) ease;
}

.prototypes-table:hover tbody tr {
  opacity: 0.6;
}

.prototypes-table tbody tr:hover {
  opacity: 1;
}

.prototypes-table th {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.prototypes-table th,
.prototypes-table td {
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}

.prototypes-table tr:nth-child(even) {
  background-color: rgba(var(--rgb-accent), 0.2);
}

.container-filters {
  display: flex;
  width: 90%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  flex-flow: center;
}

.container-dropdown {
  width: 200px;
  border: 1px solid #aaa;
  padding: 10px;
  position: relative;
  margin: 0 auto;
  
  user-select: none;
}

/* Display CSS arrow to the right of the dropdown text */
.container-dropdown:after {
  content:'';
  height: 0;
  position: absolute;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #000;
  top: 50%;
  right: 10px;
  margin-top: -3px;
}

/* Reverse the CSS arrow when the dropdown is active */
.container-dropdown.is-active:after {
  border-bottom-color: #000;
  border-top-color: #fff;
  margin-top: -9px;
}

.container-dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%; /* align the dropdown right below the dropdown text */
  border: inherit;
  border-top: none;
  left: -1px; /* align the dropdown to the left */
  right: -1px; /* align the dropdown to the right */
  opacity: 0; /* hide the dropdown */
 
  transition: opacity 0.4s ease-in-out;
  height: 100px;
  overflow: scroll;
  overflow-x: hidden;
  pointer-events: none; /* avoid mouse click events inside the dropdown */
}
.is-active .container-dropdown-list {
  opacity: 1; /* display the dropdown */
  pointer-events: auto; /* make sure that the user still can select checkboxes */
}

.container-dropdown-list li label {
  display: block;
  border-bottom: 1px solid silver;
  padding: 10px;
 
  transition: all 0.2s ease-out;
}

.container-dropdown-list li label:hover {
  background-color: #555;
  color: white;
}

