{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pages/prototypes.css' %}" />
{% endblock css %}

{% block filters %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
$(".container-dropdown").click(function () {
    $(this).toggleClass("is-active");
});

$(".container-dropdown ul").click(function(e) {
    e.stopPropagation();
});
</script>

<div class="container-filters">
    <h1 class="h3">Filtros</h1>

    <div class="container-dropdown">Filtro
        <ul class="container-dropdown-list">
            <li>
                <label><input type="checkbox" value="Corredor" name="opcion" />Opcion1</label>
            </li>
            <li>
                <label><input type="checkbox" value="Corredor" name="opcion" />Opcion2</label>
            </li>
        </ul>
    </div>

    <div class="container-dropdown">Filtro
        <ul class="container-dropdown-list">
            <li>
                <label><input type="checkbox" value="Corredor" name="opcion" />Opcion1</label>
            </li>
            <li>
                <label><input type="checkbox" value="Corredor" name="opcion" />Opcion2</label>
            </li>
        </ul>
    </div>

    <div class="container-dropdown">Filtro
        <ul class="container-dropdown-list">
            <li>
                <label><input type="checkbox" value="Corredor" name="opcion" />Opcion1</label>
            </li>
            <li>
                <label><input type="checkbox" value="Corredor" name="opcion" />Opcion1</label>
            </li>
        </ul>
    </div>

  </div>

  {% endblock filters %}