<div class="filters-container">
    <form method="get">
        <div class="filters-row">
            <div class="form-block ">
                <label for="" class="body2"> 
                    Unidades Totales
                </label>
                <input type="number" name="total_units_min" class="input" step="1" id="id_total_units_0">
                -
                <input type="number" name="total_units_max" class="input" step="1" id="id_total_units_1">
            </div>

            <div class="form-block ">
                <label for="" class="body2"> 
                    Unidades Vendidas
                </label>
                <input type="number" name="sold_units_min" class="input" step="1" id="id_sold_units_0">
                -
                <input type="number" name="sold_units_max" class="input" step="1" id="id_sold_units_1">
            </div>

            <div class="form-block ">
                <label for="" class="body2"> 
                    Metros cuadrados de Terreno
                </label>
                <input type="number" name="m2_terrain_min" class="input" step="0.1" min="0" id="id_m2_terrain_0">
                -
                <input type="number" name="m2_terrain_max" class="input" step="0.1" min="0" id="id_m2_terrain_1">
            </div>

            <div class="form-block ">
                <label for="" class="body2"> 
                    Metros cuadrados construidos
                </label>
                <input type="number" name="m2_constructed_min" class="input" step="0.1" min="0" id="id_m2_constructed_0">
                -
                <input type="number" name="m2_constructed_max" class="input" step="0.1" min="0" id="id_m2_constructed_1">
            </div>

            <div class="form-block ">
                <label for="" class="body2"> 
                    Metros cuadrados habitables
                </label>
                <input type="number" name="m2_habitable_min" class="input" step="0.1" min="0" id="id_m2_habitable_0">
                -
                <input type="number" name="m2_habitable_max" class="input" step="0.1" min="0" id="id_m2_habitable_1">
            </div>

            <div class="form-block number">
                <label for="id_floors" class="body2"> 
                    Pisos
                </label>
                <input type="number" name="floors_min" class="input" min="0" step="any" id="id_floors_0">
                -
                <input type="number" name="floors_max" class="input" min="0" step="any" id="id_floors_1">
            </div>

  <!-- //////////////////////////////////////////////// -->


        <div class="form-block checkbox">
            <label for="" class="body2"> 
                Proyectos
            </label>
            
            <div id="projects">
                {% for project in projects_form %}
                <div>
                    <label for="{{project.id}}_{{project.name}}"><input type="checkbox" name="project" value="{{project.id}}" id="{{project.id}}_{{project.name}}">
                    {{project.name}}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-block checkbox">
            <label for="" class="body2"> 
                Prototipo
            </label>
            
            <div id="prototypes">
                {% for prototype in prototypes_form %}
                <div>
                    <label for="{{prototype.id}}_{{prototype.name}}"><input type="checkbox" name="prototype" value="{{prototype.id}}" id="{{prototype.id}}_{{prototype.name}}">
                    {{prototype.name}}
                    </label>
                </div>
                
                {% endfor %}
            </div>
        </div>


        <div class="form-block checkbox">
            <label for="" class="body2"> 
                Segmento
            </label>
            
            <div id="segments">
                {% for segment in segment_form %}
                <div>
                    <label for="{{segment.id}}_{{segment.name}}"><input type="checkbox" name="segment" value="{{segment.id}}" id="{{segment.id}}_{{segment.name}}">
                    {{segment.name}}
                    </label>
                </div>
                
                {% endfor %}
            </div>
        </div>

        <div class="form-block checkbox">
            <label for="" class="body2"> 
                Tipo de Propeidad
            </label>
            
            <div id="propertyTypes">
                {% for propertyType in propertyType_form %}
                <div>
                    <label for="{{propertyType.id}}_{{propertyType.name}}"><input type="checkbox" name="propertyType" value="{{propertyType.id}}" id="{{propertyType.id}}_{{propertyType.name}}">
                    {{propertyType.name}}
                    </label>
                </div>
                
                {% endfor %}
            </div>
        </div>



  <!-- //////////////////////////////////////////////// -->


        </div>
        <button class="btn-secondary" type="submit">Filtrar</button>
        <a class="btn-secondary" href='.'>Refrescar</a>
    </form>
</div>
