{% load static %}
{% block content %}
<nav class="navbar">
  <a href="" class="nav-logo"><img src="{% static 'img/logo-white.svg' %}" alt="Inmo100"></a>
  <ul class="nav-menu">
    <li class="nav-link icon-folder"><a href="{% url 'developers' %}">Desarrolladoras</a></li>
    <li class="nav-link icon-grid"><a href="{% url 'projects' %}">Proyectos</a></li>
    <li class="nav-link icon-home"><a href="{% url 'prototypes' %}">Prototipos</a></li>
    <div class="nav-divider"></div>
    {% if user.is_staff %}
      <li class="nav-link icon-user"><a href="{% url 'admin:index' %}">Panel de Administrador</a></li>
      <li class="nav-link icon-logout"><a href="{% url 'logout' %}">Cerrar sesión</a></li>
    {% elif user.is_authenticated %}
      <li class="nav-link icon-user"><a href="">Tu Perfil</a></li>
      <li class="nav-link icon-logout"><a href="{% url 'logout' %}">Cerrar sesión</a></li>
    {% else %}
      <li class="nav-link icon-login"><a href="{% url 'login' %}">Iniciar sesión</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}