{% load static %}
<nav class="navbar">
  <a href="" class="nav-logo"><img src="{% static 'img/logo-white.svg' %}" alt="Inmo100"></a>
  <ul class="nav-menu">
    <li class="nav-link icon-folder"><a href="">Desarrolladoras</a></li>
    <li class="nav-link icon-grid"><a href="{% url 'projects' %}">Proyectos</a></li>
    <li class="nav-link icon-home"><a href="">Prototipos</a></li>
    <div class="nav-divider"></div>
    <li class="nav-link icon-user"><a href="">Tu Perfil</a></li>
    <li class="nav-link icon-logout"><a href="">Cerrar sesión</a></li>
  </ul>
</nav>