<div class="prototypes-table-container">
  <form method="get">
    {{ projects_filter.form }}
    <button class="btn btn-sm btn-danger" type="submit">Filter</button>
  </form>
  <thead>
  <table class="prototypes-table">
      <tr>
        <th>Nombre</th>
        <th>Fecha Inicial</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Niveles</th>
        <th>Desarrolladora</th>
        <th>Colonia</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects_filter.qs %}
      <tr>
        <td>{{project.name}}</td>
        <td>{{project.initial_date}}</td>
        <td>{{project.latitud}}</td>
        <td>{{project.longitude}}</td>
        <td>{{project.levels}}</td>
        <td>{{project.developer_field}}</td>
        <td>{{project.colony_field}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  
</div>
