<div class="table-container">
  <table class="table" id="sortMe">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha Inicial</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Niveles</th>
        <th>Desarrolladora</th>
        <th>Colonia</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects_list %}
      <tr>
        <td>{{project.name}}</td>
        <td>{{project.initial_date}}</td>
        <td>{{project.latitude}}</td>
        <td>{{project.longitude}}</td>
        <td>{{project.levels}}</td>
        <td>{{project.developer_field}}</td>
        <td>{{project.colony_field}}</td>
        <td align="center"><a href="{% url 'project_detail' project.id%}" class="btn-primary-tbl icon-right"></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  
</div>

{% block js %}
<script>
  // Query the table
  const table = document.getElementById('sortMe');
  // Query the headers
  const headers = table.querySelectorAll('th');

  // Track sort directions
  const directions = Array.from(headers).map(function (header) {
      return '';
  });


  // Query all rows
  const tableBody = table.querySelector('tbody');
  const rows = tableBody.querySelectorAll('tr');

  const sortColumn = function (index) {
      // Get the current direction
      const direction = directions[index] || 'asc';

      // A factor based on the direction
      const multiplier = (direction === 'asc') ? 1 : -1;

      // Clone the rows
      const newRows = Array.from(rows);

      // Sort rows by the content of cells
      newRows.sort(function (rowA, rowB) {
          // Get the content of cells
          const cellA = rowA.querySelectorAll('td')[index].innerHTML;
          const cellB = rowB.querySelectorAll('td')[index].innerHTML;

          // Transform the content of cells
          const a = transform(index, cellA);
          const b = transform(index, cellB);

          switch (true) {
            case a > b: return 1 * multiplier;
            case a < b: return -1 * multiplier;
            case a === b: return 0;
        }
      });

      // Remove old rows
      [].forEach.call(rows, function (row) {
          tableBody.removeChild(row);
      });

      // Reverse the direction
      directions[index] = direction === 'asc' ? 'desc' : 'asc';

      // Append new row
      newRows.forEach(function (newRow) {
          tableBody.appendChild(newRow);
      });
  };

    // Transform the content of given cell in given column
    const transform = function (index, content) {
        // Get the data type of column
        const type = headers[index].getAttribute('data-type');
        switch (type) {
            case 'number':
                return parseFloat(content);
            case 'string':
            default:
                return content;
        }
    };
    //Loop over the headers
    [].forEach.call(headers, function (header, index) {
      header.addEventListener('click', function() {
        sortColumn(index);
      })
    });
</script>
{% endblock js %}