<div class="prototypes-table-container">
  <table class="prototypes-table">
    <thead>
      <tr>
        <th>Proyecto</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Unidades totales</th>
        <th>Unidades vendidas</th>
        <th>M<sub>2</sub> de terreno</th>
        <th>M<sub>2</sub> construidos</th>
        <th>M<sub>2</sub> habitables</th>
        <th>Segmento</th>
        <th>Tipo de Propiedad</th>
        <th>Sistema Constructivo</th>
        <th>Pisos</th>
        <th>Muros</th>
        <th>Cancelería Ventanas</th>
        <th>Cubierta Cocina</th>
        <th>Carpintería</th>
      </tr>
    </thead>
    <tbody>
      {% for prototype in prototype_list %}
      <tr>
        <td>{{prototype.project_field}}</td>
        <td>{{prototype.name}}</td>
        <td>{{prototype.price}}</td>
        <td>{{prototype.total_units}}</td>
        <td>{{prototype.sold_units}}</td>
        <td>{{prototype.m2_terrain}}</td>
        <td>{{prototype.m2_constructed}}</td>
        <td>{{prototype.m2_habitable}}</td>
        <td>{{prototype.segment_field}}</td>
        <td>{{prototype.propertyType}}</td>
        {% for finishing in prototype.finishings.all %}
          <td>{{finishing.name}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>  
</div>
