{% extends 'innerPage.html' %}
{% load static %}

{% block title %} Desarrolladoras {% endblock title %}

{{queryset}}

{% block content %}
<main class="inner-page">
  <div class="container-wide">
    <h1 class="h1">Desarrolladoras</h1>
    <div class="card-grid">
      {% for item in page_obj %}
        {% include 'components\card.html' %}
      {% endfor %}
    </div>
  </div>
</main>

<div class="pagination">
    <div>
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn-primary">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn-terciary">previous</a>
        {% endif %}
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn-terciary">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn-primary">last &raquo;</a>
        {% endif %}
    </div>
</div>

<div class="pagination_nums">

  <h1 class="h3">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h1>

</div>

{% endblock content %}